*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/* ===== NAVBAR ===== */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #538c7464;
    position: sticky;
    top:0;
    width: 100%;
    height:80px;
    padding: 0 40px;
    z-index: 1000;
    
}



nav .logo h2{
    color: #00f5d4;
    letter-spacing: 1px;
}

nav ul{
    list-style: none;
    display:flex;
    gap:35px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

/* Underline animation */
nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #00f5d4;
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* ===== HEADER ===== */
header{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

header img{
    width:100%;
    height:100%;
    object-fit: cover;
    animation: zoomImage 8s ease-in-out infinite alternate;
}



/* Overlay */
header::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);
}

/* Welcome Text */
header .welcome{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    border:3px solid white;
    padding:20px 40px;
    border-radius: 12px;
    z-index: 2;
    opacity: 0;
    animation: fadeSlide 2s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeSlide{
    from{
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    to{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

header .welcome:hover{
    background-color: #00f5d4;
    color: black;
    transform: translate(-50%, -50%) scale(1.05);
    transition: 0.3s;
}